{% extends 'layout.html' %}
{% block body %}

    <div class="content col-md-10 col-md-offset-1"> <!-- main block -->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Полное имя</th>
                <th>Должность</th>
                <th>Отдел</th>
            </tr>
            </thead>
            <tbody>
           <tbody>
        {% for item in user_list %}
            <tr>
                <td>
                    <a href="{% url 'profiles:change_user' item.user.username %}">{{ item.user.profile.get_full_name }}</a>
                </td>
                <td>{{ item.user.profile.get_position }}</td>
                <td>{{ item.user.profile.get_departament_abbreviation }}</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
