{% extends 'layout.html' %}

{% block body %}

    <div class="container jumbotron"> <!-- main block -->
        <form action="" class="form-horizontal">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/400/200" alt="...">
                </div>
                    Реактируешь пользователя: <br>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3"><label for="">Имя</label></div>
                        <div class="col-md-9">{{ form.first_name }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3"><label for="">Фамилия</label></div>
                        <div class="col-md-9">{{ form.last_name }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="co]l-md-3"><label for="">Дата рождения</label></div>
                            <div class="col-md-9">{{ form.birthday }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3"><label for="">Должность</label></div>
                        <div class="col-md-9">{{ form.position }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <button class="btn btn-primary btn-block" type="submit">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div> <!-- main block -->
{% endblock %}