        <div class="header"> <!-- navbar block -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Access Control System</a>
                  <p class="navbar-text">Администратор</p>
                </div>
                  <ul class="nav navbar-nav navbar-right">
                      <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder='Имя сотрудника'>
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" type="button">Найти</button>
                          </span>
                        </div>
                      </form>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.profile.get_full_name }} ({{ request.user.profile.get_departament }}) <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Отчеты</a></li>
                        <li><a href="#">Пользователи</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Выйти</a></li>
                      </ul>
                    </li>
                  </ul>
              </div>
            </nav>
        </div> <!-- navbar block -->
