{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
{% block meta %}{% endblock %}
    <title>{% block title %}ACS{% endblock %}</title>
{% block css %}{% endblock %}
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        {% block header %}{% include 'header.html' %}{% endblock %}
        <div class="main-container"> <!-- main block -->
            {% block body %}{% endblock %}
        </div> <!-- main block -->
    </div>
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
